h1{
    border: 2px solid gray;
    display: block;
    background-color: aquamarine;
}
h2{
    border: 2px solid gray;
    display: block;
    background-color: aquamarine;
    height: 20px;
}
a{
    display: inline;
}
h3{
    border: 2px solid gray;
    display: inline;
    background-color: aquamarine;
    height: 20px;
}
.width{
    width: 500px;
    margin: auto;
    border: 2px solid green;
}
.max_width{
    margin: auto;
    border: 2px solid rgb(128, 0, 0);
}
p{
    position: relative;
    left: 35px;
    width: 70;
    background-color: blue;
}
.box-1{
    position: relative;
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    left: 50px;

}
.sub-box{
    position: absolute;
    height: 100px;
    width: 400px;
    background-color: rgb(141, 226, 43);
    left: 50px;

}
.p2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fix{
    position: fixed;
    background-color: rgb(255, 187, 0);
    bottom: 0px;
}
}
